@import '../../styles/constants';

.terminal-container {
  width: 100%;
  padding: 0 3px 3px 3px;

  .terminal-input {
    width: 100%;
    min-height: $base-terminal-min-height;
    max-height: $base-terminal-max-height;
    padding: 5px 10px;
    border: 2px solid $base-border-color-light;
    border-radius: 5px;
  }
}
